*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
:root {
    --primary: #fcfcfc;
    --secondary: #c6a6f2;
    --ternary: #af82ed;
}
body{
    transition: all 0.5s ease;
    background-color: var(--secondary);
    color:var(--primary);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
button{
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: all 0.1s ease;
}
input{
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    border: 1px solid var(--secondary);
    cursor: pointer;
}
input:focus{
    outline: 1px solid var(--secondary);
}
button:hover{
    background-color: var(--secondary);
    border:1px solid var(--primary);
    color:var(--primary);
}
.flexCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin:5px;
    min-width: 10%;
    gap:2rem;
}
.main{
    border: 1px solid var(--primary);
    border-radius: 30px;
    width: 100%;
    padding: 2rem 4rem 2rem 4rem;
    gap:1rem;
}
.searching{
    gap:2px;
}
.cityName{
    gap:5px;
}
.result{
    gap:5px;
}
.info{
    gap:20px;
}
.main{
    color:var(--primary);
    background-color: var(--ternary);
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--primary);
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }